# Dependencies
node_modules/
src_unpacked/
*.zip
Emmaville\ Website\ dashboard/
website\ dashboard\ template/
assets/media_*/
assets/media_*
assets/download_*.ps1
assets/download_*.csv
assets/urls.txt

# Build output
.next/
out/
dist/

# Env
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor
.DS_Store
*.swp
*.swo
.vscode/

# Generated
.turbo/
